@charset "UTF-8";

/*
GENERAL
*/

body {
	font-family: 'Montserrat', sans-serif;
}

/*
SPLASH PAGE (handled by js now that modals are used elsewhere in app)
*/

/*.modal.in .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.modal-content {
    width: 100%;
    height: 100%;
    color: #193d85;
}*/
/*color: #396060;*/
/*0088AA*/

/*.modal-footer button {
    display: none;
}*/


/*
APP TEXT FORMATTING
*/

.section-heading {
    color: #FBFBFB;
    font-weight: bold;
    font-size: 1.1em;
}

.widget-title, .control-label {
    color: #FBFBFB;
    font-size: 1.0em;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

.widget-title-sm {
    color: #FBFBFB;
    font-size: 0.9em;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

.widget-caption {
    font-size: 0.8em;
    color: gray;
    padding: 0px;
    margin: 0px;
}

/*
SELECTIZE MODIFICATIONS
*/

.selectize-control {
    font-size: 70%;
    margin-bottom: 0px;
} .selectize-dropdown {
    font-size: 120%;
} .optgroup-header {
    color: black !important;
    background-color: #efefef !important;
    font-size: 140% !important;
}


.irs-single, .irs-min, .irs-max, .irs-from, .irs-to, .irs-bar {
    color: #FFFFFF;
    background-color: #818181;
    border: #818181;
}

input {
    border-color: #E6E6E6;
    background-color: #E6E6E6;
}

input[type="radio"]:after {
		width: 20px;
        height: 20px;
	 	top: -2px;
        right: 5px;
        border-radius: 15px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
}


input[type='radio']:checked:after {
        width: 20px;
        height: 20px;
        border-radius: 15px;
        position: relative;
        background-color: #828282;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
}

/*
LEFT PANEL SCROLL CONTROL
*/

.wrapper {
    overflow-y: visible;
}

body {
    overflow-y: visible;
}

.shiny-input-container{
    margin-bottom: 0px;
}

/* MAIN PANNEL STYLE */
nav .container-fluid {
    background-color: #000000;
}

a:hover {
    color: #FFFFFF;
}

.row .col-sm-3 .well {
    background-color: #000000;
}

.col-sm-4 form.well {
    background-color: #000000 !important;
}

.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a {
    color: #FFFFFF;
    background-color: #000000;

}

.navbar-default .navbar-nav>li>a{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #FFFFFF;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #FFFFFF;
}



.navbar-default .navbar-nav>li>a:hover {
    color: #FFFFFF;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5em;
}

/*
COLLAPSE SECTION
*/

.sidebar-collapse .left-side, .sidebar-collapse .main-sidebar{
    transform: translate(0,0);
    width: 80px; /* why not 51? 36 for toggle button + 15 for container-fluid?*/
}

#sidebarCollapsed {
    padding-top: 0px;
    /*background-color: #d9f2d9;*/
    /*background-color: #ecf0f5;*/
}

.content {
    padding-top: 0px;
}

.sidebar-sub {
    width: -webkit-calc(100% - 36px);
    width:    -moz-calc(100% - 36px);
    width:         calc(100% - 36px);
    /*position: absolute;*/
    float: left;
}

.sidebar-sub-gone {
    display: none;
}

.content-wrapper-wide {
    margin-left: 36px !important;
}

/*
MISC
*/

.recalculating { opacity: 1.0; }

/* reduce padding around bootstrap sections */
[class*="col-lg-"],[class*="col-md-"],
[class*="col-sm-"],[class*="col-xs-"]{
    padding-right: 5pt !important;
    padding-left: 5pt !important;
    color: #FBFBFB;
}

/* change the background color of the entire app */
.content-wrapper{
	background-color: #f2f6f7;
}

.marker-cluster ~ div, .marker-cluster-small, .marker-cluster-medium  {
    background: #228B2266 !important;
    border-color: #228B22 !important;
}
.marker-cluster-small div, .marker-cluster-medium div {
    background: #228B22 !important;
    border-color: #228B22 !important;
}

/* .marker-cluster div$0 {
    background: #2d84c8;
}
